// General colors

$background: $white-ter;

$border: $grey-lighter;
$border-hover: $grey-light;

// Text colors

$text: $grey-darker;
$text-invert: findColorInvert($text);
$text-light: $grey;
$text-strong: $grey-darker;

// Code colors

$code: $red;
$code-background: $background;

$pre: $text;
$pre-background: $background;

// Link colors

$link: $blue;
$link-invert: $blue-invert;
$link-visited: $purple;

$link-hover: $grey-darker;
$link-hover-border: $grey-light;

$link-focus: $grey-darker;
$link-focus-border: $blue;

$link-active: $grey-darker;
$link-active-border: $grey-dark;

// Typography

$size-1: 3.5rem;
$size-2: 3rem;
$size-3: 2.5rem;
$size-4: 2rem;
$size-5: 1.5rem;
$size-6: 1.25rem;
$size-7: 1rem;

$family-primary: $alegreya;
$family-code: $family-monospace;

$size-small: $size-7;
$size-normal: $size-6;
$size-medium: $size-5;
$size-large: $size-4;

$navbar-height: 3.25rem;
$navbar-z: 30;
$navbar-fixed-z: 30;
$drawer-z: $navbar-fixed-z + 1;
//$navbar-breakpoint:100000px; // Always show burger

$max-text-width:700px;

$input-arrow: $grey-dark;
